// font
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
$font-stack: "Lato", sans-serif;

// colors
$primary-color: #b60e2a;
$secondary-color: #7ac7c4;
$dark-color: #16173d;
$light-color: #f7f7f7;
