// font
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
$font-stack: "Lato";

// colors
$primary-color: #f73859;
$secondary-color: #7ac7c4;
$dark-color: #384259;
$light-color: #c4edde;
