// big screens
@media (min-width: 2000px) {
  body {
    font-size: 1.7em;
  }
}

/* tablets */
@media (max-width: 991.98px) {
  body {
    font-size: 0.9em;
  }
  .container {
    margin: 0 8%;
  }

  .glass {
    backdrop-filter: none;
  }

  .hero .flex {
    flex-direction: column;
    align-items: flex-start;
  }

  .hero {
    .card {
      width: 100%;
    }
  }
}

/* phones */
@media only screen and (max-width: 575.98px) {
  body {
    font-size: 0.8em;
  }
  .container {
    margin: 0 4%;
  }

  .hero {
    height: 100%;
  }

  header {
    padding: 0.8em 0;

    .navigation {
      flex-direction: column;

      nav {
        padding: 0.3em 0;
        ul li {
          padding-left: 1em;
        }
      }
    }
  }

  footer {
    nav .flex {
      flex-direction: column;
    }

    .social {
      a {
        padding: 0.5em 0.3em;
      }
    }
  }
}
