@import "config";
@import "base";
@import "utils";

header {
  background-color: $primary-color;
  color: $light-color;
  padding: 0.5em 0;

  .navigation {
    h1 {
      font-weight: bold;
      font-size: 2em;
      transition: 0.6s;
      &:hover {
        transform: translateX(0.4em);
      }
      img {
        height: 1.5em;
      }
    }

    nav {
      ul {
        li {
          padding-left: 5em;
          a {
            color: $light-color;
            font-weight: 600;
            font-size: 1.1em;
            border-bottom: 3px solid transparent;
            &:hover {
              border-bottom: 3px solid $light-color;
            }
          }
        }
      }
    }
  }
}

header .flex {
  justify-content: space-between;
}

header .container {
  overflow: hidden;
}

.hero {
  height: 95vh;
  overflow: hidden;
  background: url("https://images.unsplash.com/photo-1490358930084-2d26f21dc211?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1489&q=80")
    no-repeat fixed center center;
  background-size: cover;
  .heading.flex {
    flex-direction: column;
    align-items: flex-start;
  }

  .heading {
    flex: 2;
    h1 {
      font-size: 4.5em;
      font-weight: bold;
    }

    p {
      max-width: 80%;
      font-size: 1.2em;
      line-height: 1.8em;
      padding-top: 0.5em;
    }

    button {
      margin-top: 1.5em;
    }
  }
  .cards {
    flex: 1;
    .card {
      margin: 2em 0;

      h2 {
        font-size: 2em;
        font-weight: bold;
      }
      p {
        font-size: 1em;
        margin: 2em 0;
      }
    }
  }
}

footer {
  background-color: $primary-color;
  color: $light-color;
  padding: 1em 0;
  h2 {
    font-size: 1.7em;
    transition: 0.6s;
    &:hover {
      transform: translateX(0.4em);
    }

    img {
      height: 2em;
    }
  }

  .title {
    text-align: center;
  }
  nav {
    ul {
      li {
        padding-left: 2em;
        a {
          color: $light-color;
          font-weight: 600;
          font-size: 1.05em;
          border-bottom: 3px solid transparent;
          &:hover {
            border-bottom: 3px solid $light-color;
          }
        }
      }
    }
  }

  .social {
    a {
      padding: 0.5em 0.7em;
      color: $light-color;
      transition: 0.4s;

      &:hover {
        transform: translateY(-3px);
      }
    }

    p {
      text-align: center;
      margin: 0.3em 0;
    }
  }
}

footer .flex {
  justify-content: space-between;
}

footer .container {
  overflow: hidden;
}

@import "mobile";
