@import "config";
@import "base";
@import "utils";

header {
  background-color: $primary-color;
  color: $light-color;
  padding: 0.5em 0;

  .navigation {
    h1 {
      font-weight: bold;
      font-size: 2em;
    }

    nav {
      ul {
        li {
          padding-left: 5em;
          a {
            color: $light-color;
            font-weight: 600;
            font-size: 1em;
            &:hover {
              color: $dark-color;
            }
          }
        }
      }
    }
  }
}

header .flex {
  justify-content: space-between;
}

header .container {
  overflow: hidden;
}

.hero {
  height: 90vh;
  .heading.flex {
    flex-direction: column;
    align-items: flex-start;
  }

  .heading {
    width: 50%;
    h1 {
      font-size: 5em;
      font-weight: bold;
    }

    p {
      max-width: 80%;
      font-size: 1.2em;
      line-height: 1.8em;
      padding-top: 0.5em;
    }

    button {
      margin-top: 1.5em;
    }
  }

  img {
    width: 50%;
    border-radius: 10%;
    margin: 3em 0;
  }
}

footer {
  background-color: $primary-color;
  color: $light-color;
  padding: 1em 0;
  nav {
    ul {
      li {
        padding-left: 2em;
        a {
          color: $light-color;
          font-weight: 600;
          &:hover {
            color: $dark-color;
          }
        }
      }
    }
  }

  .social {
    a {
      padding: 0.5em 0.7em;
      color: $light-color;
      transition: 0.4s;

      &:hover {
        transform: translateY(-3px);
      }
    }
  }
}

footer .flex {
  justify-content: space-between;
}

footer .container {
  overflow: hidden;
}

@import "mobile";
